<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Utilizando o EJS</title>
</head>
<body>
    <form action="/test2" method="POST">
        <button type="submit">Register Contact</button>
    </form>
</body>